{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["testing-library", "jest-dom"],
  "globals": {
    "document": true,
    "fetch": true,
    "isNaN": true,
    "localStorage": true,
    "navigator": true,
    "window": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": "off",
    "no-restricted-globals": "off",
    "no-use-before-define": "off",
    "react-hooks/exhaustive-deps": "off",
    "testing-library/await-async-query": "warn",
    "testing-library/await-async-utils": "warn",
    "testing-library/await-fire-event": "warn",
    "testing-library/no-await-sync-query": "warn",
    "testing-library/no-debug": "warn",
    "testing-library/no-dom-import": ["warn", "react"],
    "testing-library/prefer-find-by": "warn",
    "jest-dom/prefer-checked": "warn",
    "jest-dom/prefer-empty": "warn",
    "jest-dom/prefer-enabled-disabled": "warn",
    "jest-dom/prefer-focus": "warn",
    "jest-dom/prefer-required": "warn",
    "jest-dom/prefer-to-have-attribute": "warn",
    "jest-dom/prefer-to-have-text-content": "warn"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["."]
      },
      "alias": {
        "map": [
        ],
      },
    }
  }
}
